<nav class="navbar navbar-expand-sm navbar-light">
    <div class="container-xxl">
        <!-- navbar brand / title -->
        <a class="navbar-brand" href="#intro">
            <span class="text-primary d-sm-none">Navegación</span>
        </a>
        <!-- toggle button for mobile nav -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
                aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse justify-content-end align-center fs-4 " id="main-nav">
            <ul class="navbar-nav">
                <li class="nav-item px-3">
                    <a class="nav-link text-warning" href="../../public/pedidos_ver_todos.php">Pedidos</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link  text-warning" href="../../public/inventario.php">Clases</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link text-warning" href="../../public/Clientes_consulta.php">Clientes</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link text-warning" href="../../public/logout.php">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
